{% from "bootstrap5/form.html" import render_form %}
{% from "_utils.html" import render_table %}
{% extends "template.html" %}
{% block content %}
<a href="{{url_for('quotes.all')}}">Back</a>
<div style="font-size: larger;">
<div class="row">
    <div class="col-sm-12">
    {{quote[3]}}
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11"><b> - {{ quote[1] }}, {{ quote[2] }}</b>
</div>
{% if quote[5] == 1 %}
<form method="POST">
    <input type="hidden" value="{{quote[0]}}" name="like">
    <input type="submit" value="like">
</form> 
{% endif %}
{% if quote[5] == 2 %}
<form method="POST">
    <input type="hidden" value="{{quote[0]}}" name="unlike">
    <input type="submit" value="unlike">
</form>
{% endif %}
<button onclick="location.href = '{{url_for('quotes.report', quote=quote[0])}}'">Report Quote</button>
{% if comment is defined %}
{{render_form(comment)}}
{% endif %}
{{render_table(comments)}}
{% endblock content%}