{% from "_utils.html" import render_table %}
{% extends "admin.html" %}
{% block content %}
<div class="row">
<h1>Admin Portal</h1>
<p>Admin Level: {{plevel}}</p>
</div>
<div class="row">
<h2>Recent Reports</h2>
{{render_table(reports)}}
</div>
{% if recent_logins is defined %}
<div class="row">
<h2>Recent Logins</h2>
{{render_table(recent_logins, "table table-striped", ["log_id", "user_id", "action", "message", "time", "ip", "user_agent"])}}
</div>
{% if logs is defined %}
<div class="row">
<h2>Full Logs</h2>
{{render_table(logs, "table table-striped", ["log_id", "user_id", "action", "message", "time", "ip", "user_agent"])}}
</div>
{% endif %}
{% endif %}
{% endblock content %}