{% from "_utils.html" import render_table %}
{% extends "admin.html" %}
{% block head %}
<style>
#report:hover {
    text-decoration: underline;
}
</style>
{% endblock head %}
{% block content %}
<h2>Reported Quotes</h2>
<table class="table table-striped">
{% for header in ["id", "user id", "quote id", "reason", "details", "status"] %}
    <th>{{header}}</th> 
{% endfor %}
{% for row in reports %}
<tr id="report" onclick="location.href='/admin/reports/{{row[0]}}'">
    {% for data in row %}
    <td>{{data}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{% endblock content %}