{% macro render_table(table, table_type="", headers=[]) %}
<table class="table {{table_type}}">
{% if headers != [] %}
    {% for header in headers %}
        <th>{{header}}</th>
    {% endfor %}
{% endif%}
{% for row in table%}
<tr>
    {% for data in row %}
    <td>{{data}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{% endmacro %}

{% macro render_quotes(quotes) %}
<table class="table table-striped">
    <th>Name</th>
    <th>Year</th>
    <th>Quote</th>
    <th>Likes</th>
    {% for quote in quotes %}
        <tr class="quote" onclick="location.href = '/quotes/{{quote[0]}}'">
        {% for data in quote[1:5] %}
            <td>{{data}}</td>
        {% endfor %}
        <td>
        {% if quote[5] == 2 %}
            <form method="POST">
                <input type="hidden" value="{{quote[0]}}" name="unlike">
                <input type="submit" value="unlike">
            </form>
        {% endif %}
        {% if quote[5] == 1 %}
            <form method="POST">
                <input type="hidden" value="{{quote[0]}}" name="like">
                <input type="submit" value="like">
            </form>
        {% endif %}
        </td>
        </tr>
    {% endfor %}
</table>
{% endmacro %}