{% extends "template.html" %}
{% block content %}
<div class="row">
<h2>Welcome To The Quotebook!</h2>
</div>
<div class="row">
<p>
The quotebook is for funny quotes from students and staff at SPC! Currently the website is not encrypted so anything you submit will be 
visible to IT, this will change in the future <br><br>
I - the website owner - <strong>DO NOT TAKE RESPONSIBILITY</strong> for what <strong>YOU</strong> submit.<br>
<br>
<h4>Ground Rules</h4>
</p>
<ol>
<li>Only submit funny quotes</li>
<li>Don't cross the line of banter and bullying</li>
<li>Don't snitch</li>
</ol>
<br>
<p>
This is meant to be a lighthearted website, dark humor is allowed, for this reason, <strong>DO NOT</strong> show content of the website to teachers<br>
bullying is something I take VERY seriously so if that is happening report the quote and I promise it will be taken seriously, if you think
that your report hasnt been taken seriously, talk to me in person, I'm not going to make my identity public, If you know about this website, 
you probably know someone who knows who I am
</p>
</div>
{% endblock content %}