{% extends "template.html" %}
{% block content %}
<h2>Privacy Policy</h2>
<p>
<strong>The Quotebook</strong> is committed to providing quality services to you and this policy outlines our ongoing obligations to you in respect of how we manage your Personal Information.
We have adopted the Australian Privacy Principles (APPs) contained in the Privacy Act 1988 (Cth) (the Privacy Act). The NPPs govern the way in which we collect, use, disclose, store, secure and dispose of your Personal Information.
A copy of the Australian Privacy Principles may be obtained from the website of The Office of the Australian Information Commissioner at <a href="https://www.oaic.gov.au/">https://www.oaic.gov.au/</a>.
</p><br>
<h3>What is Personal Information and why do we collect it?</h3>
<p>
Personal Information is information or an opinion that identifies an individual. Examples of Personal Information we collect includes names, and email addresses
This Personal Information is obtained via our website {{url_for('landing')}}, and from cookies. We don’t guarantee website links or policy of authorised third parties.
We collect your Personal Information for the primary purpose of providing our services to you. We may also use your Personal Information for secondary purposes closely related to the primary purpose, in circumstances where you would reasonably expect such use or disclosure. You may unsubscribe from our mailing/marketing lists at any time by contacting us in writing.
When we collect Personal Information we will, where appropriate and where possible, explain to you why we are collecting the information and how we plan to use it.
</p><br>
<h3>Sensitive Information</h3>
<p>
Sensitive information is defined in the Privacy Act to include information or opinion about such things as an individual's racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a trade union or other professional body, criminal record or health information.
We do not collect any sensitive information
</p><br>
<h3>Third Parties</h3>
<p>
Where reasonable and practicable to do so, we will collect your Personal Information only from you. However, in some circumstances we may be provided with information by third parties. In such a case we will take reasonable steps to ensure that you are made aware of the information provided to us by the third party.
</p><br>
<h3>Disclosure of Personal Information</h3>
<p>
Your Personal Information may be disclosed in a number of circumstances including the following:
<ol>
Third parties where you consent to the use or disclosure; and
Where required or authorised by law.
</ol>
</p><br>
<h3>Security of Personal Information</h3>
<p>
Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and from unauthorized access, modification or disclosure.
When your Personal Information is no longer needed for the purpose for which it was obtained, we will take reasonable steps to destroy or permanently de-identify your Personal Information. However, most of the Personal Information is or will be stored in client files which will be kept by us for a minimum of 7 years.
</p><br>
<h3>Access to your Personal Information</h3>
<p>
You may access the Personal Information we hold about you and to update and/or correct it, subject to certain exceptions. If you wish to access your Personal Information, please contact us in writing.
<strong>The Quotebook</strong> will not charge any fee for your access request, but may charge an administrative fee for providing a copy of your Personal Information.
In order to protect your Personal Information we may require identification from you before releasing the requested information.
</p><br>
<h3>Policy Updates</h3>
<p>
This Policy may change from time to time and is available on our website.
</p><br>
<h3>Privacy Policy Complaints and Enquiries</h3>
<p>
If you have any queries or complaints about our Privacy Policy please contact us at:
<ol>
[Insert Email address here]
</ol>
</p><br>
{% endblock content %}