{% extends "template.html" %}
{% block content %}
<div style="font-size: larger;">
<h3>Random Quote</h3>
<div class="row">
{# TODO: create random quote #}
    <div class="col-sm-12">
    "Placeholder Quote"
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11"><b> - Person, Year</b>
</div>
<h3>Quote of the Day</h3>
<div class="row">
{# TODO: create quote of day #}
    <div class="col-sm-12">
    "Placeholder Quote"
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11"><b> - Person, Year</b>
</div>
<h3>Best Quote</h3>
<div class="row">
{# TODO: get best quote (most liked) #}
    <div class="col-sm-12">
    "Placeholder Quote"
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11"><b> - Person, Year</b>
</div>
</div>
{% endblock content %}