{% from "_render_table.html" import render_table %}
{% extends "template.html" %}
{% block content %}
<h2>Admin Portal</h2>
Hi admin user: {{user.name()[0]}} <br>
<h3>Current Users</h4>

<table class="user-table table table-striped">
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Date Created</th>
    <th>Permission Level</th>
    {% for row in users%}
        <tr class="user-table-row" onclick="window.location.href='/admin?user={{ row[0] }}'">
            {% for data in row %}
            <td>{{data}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% if plevel > 1 %}
<h4>Recent Errors</h4>
{{render_table(python_logs,
                "table-striped",
                ["Time", "Level", "Message"])}}
{% endif %}
<h4>Recent Failed Logins</h4>
{{render_table(fails,
                "table-striped",
                ["userid", "email", "IP", "time"])}}
<h4>Recent Logins</h4>
{{render_table(logins,
                "table-striped",
                ["userid", "email", "IP", "time"])}}
<br>
{% endblock content %}