{% extends "template.html" %}
{% from "_render_table.html" import render_table %}
{% block content %}
<h2>Quotes:</h2>
{% if "user" in session %}
    <table class="table table-striped">
    <th>name</th>
    <th>year</th>
    <th>quote</th>
    <th>number of likes</th>
    <th></th>
    {% for row in quotes %}
    <tr>
        {% for data in row[:4] %}
        <td>{{data}}</td>
        {% endfor %}
        <td>
        {% if id in row[5] %}
        <form method="POST" class="font-size: small">
            <input type="hidden" name="unlike" value="{{row[4]}}">
            <input type="submit" value="unlike">
        </form> 
        {% else %}
        <form method="POST" class="font-size: small">
            <input type="hidden" name="like" value="{{row[4]}}">
            <input type="submit" value="like">
        </form> 
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
{{render_table(quotes, "table-striped", ["name", "year", "quote", "number of likes"])}}
{% endif %}
{% endblock content %}
{% block body %}
{% endblock body %}