{% extends "template.html" %}
{% macro render_table(table, table_type="", headers=[]) %}
<table class="table {{table_type}}">
{% if headers != [] %}
    {% for header in headers %}
        <th>{{header}}</th>
    {% endfor %}
{% endif%}
{% for row in table%}
<tr>
    {% for data in row %}
    <td>{{data}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{% endmacro %}
{% block content %}
<h2>Quotes:</h2>
{{render_table(quotes, "table-striped", ["name", "year", "quote"])}}
{% endblock content %}