<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> z<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{ bootstrap.load_css() }}
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='/style/main.css')}}">
        <link rel="stylesheet" href="">
        {% block head %}
        
        {% endblock head %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header>
    <h1>Quotebook</h1>
    <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
    <ul class="navbar-nav">
        {% if "user" in session %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">home</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}">home</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('quotes')}}">all quotes</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('submit')}}">submit a quote</a></li>
        {% if "user" not in session %}
        <li class="nav-item justify-content-end"><a class="nav-link" href="{{url_for('login')}}">login</a></li>
        <li class="nav-item justify-content-end"><a class="nav-link" href="{{url_for('register')}}">register</a></li>
        {% else %}
        <li class="nav-item justify-content-end"><a class="nav-link" href="{{url_for('logout')}}">logout</a></li>
        {% endif %}
        <form class="nav-item" method="GET" action="{{url_for('search')}}">
            <input type="text" name="search" placeholder="search">
            <input type="submit" value="search">
        </form>
    </ul>
    </div>
    </header>
    </nav>
    <div class="container">
    {% block content %}
    {% endblock content %}
    {{ bootstrap.load_js() }}    
    </div>
    </body>
</html>