:root {
    --dark-tone: #3d405b;
    --base-color: #2f3e46;
    --secondary-color: #354f52;
    --subtext-color: #52796f;
    --text-color: #9ab6a0;
    --complimentary-color: #e07a5f;
    --complimeratry-highlight-color: #f2cc8f;
    --highlight-color: #cad2c5;
}
/* default is dark mode. If you don't like it, just live with it. */
/* revision on this, the system now under technicality defaults to light mode, but it saves your preferences */
.lightmode {
    --base-color: #f5f5f5;
    --secondary-color: #e0e0e0;
    --subtext-color: #b0b0b0;
    --text-color: #707070;
    --highlight-color: #303030;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui;
    background-color: var(--base-color);
    color: var(--text-color);

    min-height: 100vh;
}

h1 {
    background: none;
    font-size: 2.5em;
    font-weight: 500;
    margin: 1em 0;
}
h1:hover {
    background: linear-gradient(45deg, var(--complimentary-color), var(--complimeratry-highlight-color));
    background-clip: text;
    color: transparent;
}

nav {
    position: sticky;
    top: 16px;

    display: flex;
    align-items: center;
    height: 82px;
    padding: 0 48px;
    margin: 0 auto;
    margin-bottom: 28px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: var(--secondary-color);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    margin: 0 10px;
  }
nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
nav a:hover {
    color: var(--highlight-color);
}

#theme-switch {
    position: fixed;
    top: 98px;
    width: 48px;
    height: 48px;
    background-color: var(--secondary-color);
    right: 16px;
    margin: 12px;
    cursor: pointer;

    border: 2px solid var(--text-color);
    border-radius: 50%;
}
#theme-switch:hover {
    border-color: var(--highlight-color);
}
#theme-switch svg {
    position: absolute;
    top: 0;
    left: 0;

    fill: var(--text-color);
}
#theme-switch svg:hover {
    fill: var(--highlight-color)
}
.invisible {
    fill-opacity: 0;
    pointer-events: none;
}
.container {
    /* display: flex; */
    /* justify-content: center;     */

    width: 90%;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    margin: auto;

    width: min-content;
    padding: 16px;

    background-color: var(--secondary-color);

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.form input {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--text-color);
    border-radius: 24px;
    color: var(--text-color);
    background-color: var(--base-color);

    padding: 8px 16px;
    margin-top: 12px;
}
.login .form-submit {
    /* center the button */
    display: block;
    margin: 12px auto;

    cursor: pointer;
}

.submit-form {
    width: 80%;
}

p a {
    color: var(--complimentary-color);
}
b {
    width: auto;
    margin-left: 48px;
}
.important {
    text-align: center;
    color: var(--complimentary-color);
}

tr.user-table-row:hover {
    text-decoration: underline;
}

.quote:hover {
    text-decoration: underline;
}