{% extends "template.html" %}
{% block content %}
<div class="row" style="font-size: larger;">
    <div class="col-sm-6">
    <h4>Random Quote</h4>
        <div class="row">
            <div class="col-sm-12">
            "{{quote.quote}}"
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11"><b> - {{quote.name}}, {{quote.year}}</b>
            {% if "user" in session %}
                {% if user.has_liked(quote.quoteid) %}
                <form method="POST" class="font-size: small">
                    <input type="hidden" name="unlike" value="{{quoteid}}">
                    <input type="submit" value="unlike">
                </form>
                {% else %}
                <form method="POST" class="font-size: small">
                    <input type="hidden" name="like" value="{{quoteid}}">
                    <input type="submit" value="like">
                </form>
                {% endif %}
            {% endif %}
            </div>
        </div><br>
    <h4>Best Quote</h4>
        <div class="row">
            <div class="col-sm-12">
            "{{best_quote.quote}}"
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11"><b> - {{best_quote.name}}, {{best_quote.year}}</b>
            {% if "user" in session %}
                {% if user.has_liked(best_quote.quoteid) %}
                <form method="POST" class="font-size: small">
                    <input type="hidden" name="unlike" value="{{best_quote_id}}">
                    <input type="submit" value="unlike">
                </form>
                {% else %}
                <form method="POST" class="font-size: small">
                    <input type="hidden" name="like" value="{{best_quote_id}}">
                    <input type="submit" value="like">
                </form>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>
<br>
<br>
<br>
<p>welcome {{user.name()[0]}} to the quotebook</p>
{% if user.is_admin() %}
<a href="{{url_for('admin')}}">Admin Portal</a>
{% endif %}
{% endblock content %}
