{% from "_render_table.html" import render_table %}
{% extends "template.html" %}
{% block content %}
<a href="{{url_for('admin')}}">back</a><br><br>
<b>id:</b> {{id}}<br>
<b>first name:</b> {{first_name}}<br>
<b>last name:</b> {{last_name}}<br>
<b>email:</b> {{email}}<br>
<b>date created:</b> {{date_created}}<br>
<b>permission level:</b> {{plevel}}<br>
<h4>Successful Logins</h4>
<table>{{render_table(logins, "table-striped", ["ip", "time"])}}</table>
<h4>Unsuccessful Logins</h4>
<table>{{render_table(fails, "table-striped", ["ip", "time"])}}</table>
<h4>Detail Changes</h4>
<table>{{render_table(changes, "table-striped", ["detail changed", "ip", "time"])}}</table>
{% endblock content %}